td{
    height:75px;
    width: 75px;
    border: none;
}
table{
    border: solid 5px black;
    text-align: center;
    margin-left: 30%;
    margin-top: 5%;
}
.pawn-white{
     color:rgba(255, 255, 255, 0.801); 
    font-size: 40px;
}
.pawn-black{
    font-size: 40px;
}
.bg-green{
    background-color: rgb(85, 252, 85);
}
.bg-yellow{
    background-color: rgb(245, 245, 75);
}
h1{
    font-family: cursive;
    text-align: center;
    text-decoration: underline;
}
button{
    margin-left: 47%;
    width: 100px;
    height: 50px;
    font-weight: 600;
    border-radius: 20%;
    background-color: rgb(117, 253, 253);
    font-size: 20px;
}
span{
    font-size: 20px;
}
.main{
    background-color: rgb(18, 148, 253);
}